In [3]:
import sqlite3 
import csv 

# establish a connection
conn = sqlite3.connect('nutrition.db') # allow the communication - with arg name of the database
cursor = conn.cursor()

# create table
create_table = """ CREATE TABLE IF NOT EXISTS nutrition_status(
                        ID INT PRIMARY KEY,
                        age_group TEXT,
                        age INT,
                        gender INT,
                        physical_activity INT,
                        bmi NUMERIC,
                        blood_glucose INT,
                        diabetic INT,
                        oral INT,
                        blood_insulin_level NUMERIC
                        ); """

cursor.execute(create_table)

# insert data from csv file
with open("nutrition_survey.csv") as f:
    data = csv.reader(f)
    for row in data:
        if row[0]=='ID': 
            continue
        cursor.execute("INSERT INTO nutrition_status VALUES (?, ?, ?, ?, ?, ?, ? ,? ,? ,?)", (row[0], row[1], row[2], row[3], row[4], row[5], row[6], row[7], row[8], row[9]))

results = cursor.execute("SELECT * FROM nutrition_status;").fetchall()

# save data
conn.commit()
#conn.close()

In [4]:
# see results 
results

[(73564, 'Adult', 61, 2, 2, 35.7, 110, 2, 150, 14.91),
 (73568, 'Adult', 26, 2, 2, 20.3, 89, 2, 80, 3.85),
 (73576, 'Adult', 16, 1, 2, 23.2, 89, 2, 68, 6.14),
 (73577, 'Adult', 32, 1, 2, 28.9, 104, 2, 84, 16.15),
 (73580, 'Adult', 38, 2, 1, 35.9, 103, 2, 81, 10.92),
 (73581, 'Adult', 50, 1, 2, 23.6, 110, 2, 100, 6.08),
 (73587, 'Adult', 14, 1, 2, 38.7, 94, 2, 202, 21.11),
 (73596, 'Adult', 57, 2, 2, 38.3, 107, 2, 164, 20.93),
 (73607, 'Senior', 75, 1, 2, 38.9, 89, 2, 113, 17.47),
 (73610, 'Adult', 43, 1, 1, 28.9, 90, 2, 95, 3.24)]